<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileTransferServicesBinding_IMsgVaultService"
                    maxReceivedMessageSize="10485760">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MsgVaultWeb/MsgVaultService.svc/mex"
                binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBinding_IMsgVaultService"
                contract="MsgVaultSvc.IMsgVaultService" name="FileTransferServicesBinding_IMsgVaultService" />
        </client>
    </system.serviceModel>
</configuration>