<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    --><!--<system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="FileTransferServicesBinding_IMsgVaultService"
              maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
          --><!--<security mode="TransportCredentialOnly" />--><!--
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost/MsgVaultWeb/MsgVaultService.svc"
            binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBinding_IMsgVaultService"
            contract="MsgVaultService.IMsgVaultService" name="FileTransferServicesBinding_IMsgVaultService" />
      </client>
    </system.serviceModel>--><!--
</configuration>-->


<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileTransferServicesBinding" maxReceivedMessageSize="100671088" maxBufferPoolSize="800000000" maxBufferSize="100671088" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:05:00">
          <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="QISMsgVaultWeb.Web.MsgVaultService">
        <endpoint address="mex" binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBinding" contract="QISMsgVaultWeb.Web.IMsgVaultService" bindingName="FileTransferServicesBinding"/>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>